<!Doctype html>
<html>

<head>
    <title>Venus Dashboard</title>
</head>

<body>
    <h1>Guilds</h1>
    <form id="tableForm" action="../dashboard" method="post">
        <select class="guildPicker" data-style="btn-info" name="guildPicker">
            <optgroup label="Select Guild">
                <option value="">Select Server</option>
                <% guilds.forEach(function(guild){ %>
                <option value="<%= guild.settings %>"><%= guild.name %></option>
                <% }) %>
            </optgroup>
        </select>
        <input type="submit" value="Submit" />
    </form>
</body>

</html>